:root {
    --primary-bg-color: #bf5700;
    --text-color: white;
    --link-hover-opacity: 0.8;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

header {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 1.5rem 0;
    width: 100%;
}

header h1 {
    margin: 1rem;
    padding-bottom: 0.3rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.3rem;
}

nav ul li {
    margin: 0 1rem;
}

nav a, header h1 a {
    text-decoration: none;
    color: var(--text-color);
    transition: opacity 0.2s;
}

nav a:hover, nav a:focus,
header h1 a:hover, header h1 a:focus,
.documentation-links a:hover {
    opacity: var(--link-hover-opacity);
    color: inherit;
}

.content-container {
    margin: 2% 10%;
}

.content-container h1 {
    font-size: 1.625rem;
}

.content-container h2 {
    font-size: 1.25rem;
}

.content-container p {
    font-size: 1rem;
}

.content-container a:hover {
   color: inherit;
}

.content-container a {
   text-decoration: none;
}

img {
    display: block;
    margin: auto;
    padding: 0.625rem;
    max-width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
}

.documentation-links li {
    margin-bottom: 0.625rem;
}

.documentation-links a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

nav ul li a.active {
    opacity: var(--link-hover-opacity);
}
