{% extends 'base.html' %}

{% block content %}
<main>
    <div class="content-wrapper">
        <h1>Welcome to Intelligent Machine Learning for Real Time Processing of Hyperspectral Video Streams</h1>
        <p>This project showcases various aspects of processing hyperspectral video streams in real-time using advanced machine learning techniques.</p>
        <p>Explore our documentation:</p>
        <ul class="documentation-links">
            <li><a href="{{ url_for('render_page', page_name='sampling') }}">On the Fly Sampling</a></li>
            <li><a href="{{ url_for('render_page', page_name='camera-isp') }}">Camera ISP Code & Paper</a></li>
            <li><a href="{{ url_for('render_page', page_name='signature-detection') }}">Signature Detection & Classification</a></li>
            <li><a href="{{ url_for('render_page', page_name='integration') }}">Integration of IR/EO Video Streams</a></li>
            <li><a href="{{ url_for('render_page', page_name='event-signature') }}">Novel Event Signature Detection</a></li>
            <li><a href="{{ url_for('render_page', page_name='localization') }}">Real Time Localization</a></li>
        </ul>
    </div>
</main>
{% endblock %}
